.nav_menu {
    display: flex;
    align-items: center;
  }
  
  .link {
    text-decoration: none;
    color: white;
    margin-right: 20px;
  }
  
  .link:hover {
    color: #B21BF2;
  }
  
  .active {
    text-decoration: underline;
  }